* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(95, 77, 4);
}

body {
  height: 100vh;
  background-color: rgb(255, 230, 0);
  font-size: 1rem;
  position: relative;
}

.container {
  min-width: 800px;
  display: grid;
  overflow: scroll;
  padding: 2rem;
}

table,
tbody,
.table-row {
  table-layout: fixed !important;
}

.input-status {
  cursor: pointer;
}
td {
  min-width: 100% !important;
  table-layout: fixed;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  /* color: rgb(255, 230, 0); */
  font-size: 1rem;
  padding-left: 0.3rem;
}

title.cell,
input-title,
td,
input,
#add-button,
.delete-button {
  border-radius: 0.3rem;
}


tr {
  height: 2.5rem;
}

[type=checkbox] {
  width: auto;
  accent-color: rgb(255, 230, 0);
}

#read {
  display: none;
}

label {
  /* margin-right: 1rem; */
  color: rgb(95, 77, 4);
  font-style: italic;
  cursor: pointer;
  border-radius: 0.3rem;
  display: grid;
  margin-left: 0.3rem;
}

label.is-toggled {
  width: 68%;
  padding-left: 0.3rem;
  color: rgb(95, 77, 4);
  margin-left: -0.4rem;
  background-color: rgb(255, 230, 0);
  filter: drop-shadow(0.3rem 0.3rem 0px rgb(95, 77, 4));
  border: 0.08rem rgb(95, 77, 4) solid;
  color: rgb(95, 77, 4);
  border-radius: 0.3rem;
  text-indent: 0.3rem;
}


::placeholder {
  color: rgb(95, 77, 4);
  font-style: italic;
  font-size: 1rem;
}



#add-button,
.delete-button {
  text-indent: 0.5rem;
  font-weight: normal;
  background-color: rgb(95, 77, 4);
  display: grid;
  color: rgb(255, 230, 0);
  border-radius: 0.3rem;
  margin-left: -0.5rem;
  border: 0.3rem solid rgb(95, 77, 4);
  cursor: pointer;
  text-align: left;
  width: 95%;
}
#input-title.is-toggled, 
#input-author.is-toggled, 
#input-pages.is-toggled {

  max-width: 68%;
  color: rgb(95, 77, 4);
  margin-left: -0.4rem;
  background-color: rgb(255, 230, 0);
  filter: drop-shadow(0.3rem 0.3rem 0px rgb(95, 77, 4));
  border: 0.08rem rgb(95, 77, 4) solid;
  color: rgb(95, 77, 4);
  border-radius: 0.3rem;
  text-indent: 0.3rem;

td {
  max-width: 15vw;
  min-width: 15vw;
}




}

.title-cell,
.author-cell,
.pages-cell,
.status-cell {
  padding-left: 0.3rem;
  border-radius: 0.3rem;
  border: 0.08rem rgb(255, 230, 0) solid;
}

.is-toggled::-webkit-input-placeholder {
  /* color: rgb(255, 230, 0); */
  color: rgb(95, 77, 4);
}

.delete-button.is-toggled {
  background-color: rgb(255, 230, 0);
  border-color: rgb(255, 230, 0);
  filter: drop-shadow(0.3rem 0.3rem 0px rgb(95, 77, 4));
  border: 0.08rem rgb(95, 77, 4) solid;
  color: rgb(95, 77, 4);
  display: grid;
  font-size: 1rem;
  transform: translateX(-0.3rem);
  width: 100%
}

#add-button.is-toggled {

  background-color: rgb(95, 77, 4);
  color: rgb(255, 230, 0);
  border: 0.3rem transparent solid;
  filter: drop-shadow(0rem 0rem 0px white);
}

.delete-button {
  font-size: 1rem;
  width: 99%
}

#pop-up {
  display: inline-block;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 25rem;
  background-color: rgb(255, 230, 0);
  color: rgb(95, 77, 4);
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  filter: drop-shadow(0.3rem 0.3rem 0px rgb(95, 77, 4));
  border: 0.1rem rgb(95, 77, 4) solid;
}

#pop-up-close {
  position: absolute;
  left: 50%;
  background-color: rgb(95, 77, 4);
  color: rgb(255, 230, 0);
  font-size: 0.8rem;
  padding: 0.1rem 0.25rem;
  border-radius: 0.3rem;
  transform: translateX(11.2rem);
  top: 0.3rem;
  cursor: pointer;
}

#message-title-input {
  z-index: 1000;
  width: 11rem;
  padding:0.3rem;
  transform: translateX(5%);
  margin-top: 2.5rem;
  margin-left: -1rem;
}

.message-paragraph {
  transform: translateY(2.3rem);
}

#input-title,
#input-author,
#input-pages {
  display: grid;
  height: auto;
  padding-left: -0.3rem;
}

#submit-button {
  background-color: rgb(95, 77, 4);
  -webkit-text-fill-color: rgb(255, 230, 0);
  padding: 0.3rem 0.9rem;
  border: none;
  border-radius: 0.3rem;
  margin-left: 0.4rem;
  transform: translateY(-0.05rem);
}