* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(95, 77, 4);
}

body {
  height: 100vh;
  background-image: linear-gradient(rgb(255, 230, 0), rgb(244, 213, 88));
  font-size: 1rem;
}

.container {
  min-width: 800px;
  display: grid;
  overflow: scroll;
  padding: 2rem;
}

.input-status{
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(255, 230, 0);
  font-size: 1rem;
  padding-left: 0.3rem;
}


td, input, #add-button, .edit-button {
  width: 15vw;
  border-radius: 0.3rem;
}


tr {
  height: 2.5rem;
}

[type=checkbox] {
  width: auto;
  accent-color: rgb(255, 230, 0);
}

#read {
  display: none;
}

label {
  margin-right: 1rem;
  color: rgb(95, 77, 4);
  font-style: italic;
  cursor: pointer;
  padding-left: 0.3rem;
  border-radius: 0.3rem;
  display: grid;
}

::placeholder {
  color: rgb(95, 77, 4);
  font-style: italic;
  font-size: 1rem;
}

#add-button, .edit-button {
  text-indent: 0.5rem;
  font-weight: normal;
  background-color: rgb(95, 77, 4);
  display: grid;
  color: rgb(255, 230, 0);
  border-radius: 0.3rem;
  margin-left: -0.5rem;
  border: 0.3rem solid rgb(95, 77, 4);
  cursor: pointer;
  text-align: left;
  width:95%;
}

td {
  width: 15vw;

}

#input-title, #input-author, #input-pages {
  display: grid;
  height: auto;
  padding-left: 0.3rem;
  

}

.title-cell, .author-cell, .pages-cell, .status-cell {
  padding-left: 0.3rem;
}

.is-toggled {
  background-color: rgb(95, 77, 4);
  border: 0.3rem solid rgb(95, 77, 4);
  display:grid;
  width: 80%;
  color: rgb(255, 230, 0);
  size: 3rem;
  
}

.is-toggled::-webkit-input-placeholder {
  color: rgb(255, 230, 0);
}

#add-button.is-toggled {
  background-color:rgb(255, 230, 0);
  border-color: rgb(255, 230, 0);
  filter: drop-shadow(0.3rem 0.3rem 0px rgb(95, 77, 4));
  color: rgb(95, 77, 4);
  display:grid;
  font-size: 1rem;
  transform: translateX(-0.3rem);
  width:100%
}

.edit-button.is-toggled {
  background-color:rgb(255, 230, 0);
  border-color: rgb(255, 230, 0);
  filter: drop-shadow(0.3rem 0.3rem 0px rgb(95, 77, 4));
  color: rgb(95, 77, 4);
  display:grid;
  font-size: 1rem;
  transform: translateX(-0.3rem);
  width:100%
}

#add-button.is-toggled {
  width: 95%;
}

.edit-button {
  font-size: 1rem;
  width:100%
}